<!DOCTYPE html>
<html>
  <head>
    <title>Recccords</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Recccords</h1>
    <a href="/">back</a> 
    <h2>Folders for <%= username %></h2> 
    <ul> 
      <% for(var ii=0; ii < folders.length; ii++) {%>
         <li><a href="/folder/<%= ii %>"><%= folders[ii].name %></a></li>
      <% } %>
    </ul>

  </body>
</html>