<html>
  <head>
    <title>Recccords</title>
    <script>

    </script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/feed.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Recccords</h1>
    <a class="userless" href='/login'>Login</a>
    <a class="userless" href='/signup'>Sign Up</a>
    <p id="greeting" class="user" ></p>
    <ul id="menu" class="user">
      <li><a href="/search">Search and Add</li>      
      <li><a href="/collection">Collection</li>
      <li><a href="/wants">Wants</li>
      <li><a href="/feed">Feed</li>
    </ul> 
    <a class="user" id="logout" href='/logout'>Logout</a>
  </body>
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
  <script src="javascripts/index.js"></script>
</html>
