<!DOCTYPE html>
<html>
  <head>
    <title>Recccords</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="cover">
    </div> 
    <div id="info"> 
      <h1></h1> 
      <h2></h2>
      <p></p>
    </div> 
    <ul id="tracks">
    </ul>
    <div id="social">
      <p>People who have this</p>
      <ul id="people">
      </ul>
    </div> 
  </body>
  <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>  
  <script src="../javascripts/jquery-1.10.2.min.js"></script>
  <script src="../javascripts/record.js"></script>
</html>