<!DOCTYPE html>
<html>
  <head>
    <title>Recccords</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="save" action="/save" method="post"> 
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">    
      <input type="submit" value="Save Credential">
    </form>
  </body>
</html>