<!DOCTYPE html>
<html>
  <head>
    <title>Recccords</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/search.css' />
  </head>
  <body>
    <form id="search"> 
      <input type="text" size="40" name="search" placeholder="search album, title, or arists">
      <input type="submit" value="Search">
    </form>
    <ul id="results">
    </ul>
    <a href="/">back</a>    
  </body>
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
  <script src="javascripts/search.js"></script>
</html>