<!DOCTYPE html>
<html>
  <head>
    <title>Recccords</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form id="signup"> 
      <input type="text" name="username" placeholder="username">
      <input type="text" name="email" placeholder="email">        
      <input type="password" name="password" placeholder="password">    
      <input type="submit" value="Sign Up">
    </form>
  </body>
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
  <script src="javascripts/signup.js"></script>
</html>